
// Vertical Rhythm
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline();



// colors
$color1: #B03B01; // header color
$link_color: #B03B01; // header color
$color2: #075899; // link color
$color5: #113456; // link color
$color6: #075899; // link color
$grad1: #099109; // link color
$box_shadow: #025499; // link color
$border1: #076719; // link color
$spacing: 10px; // link color
$text_color: #011719; // link color
$text_shadow: #011009; // link color
$font_family: calibri; // link color
$h3_size: 20px; // link color
$font_size: 12px;
$border2: #076719; // link color


